@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


.app-title {
    font-family: Arial;
    font-size: 36px;
    text-align: center;
}

.title-upper-line {
    color: black;
    display: inline-block;
    text-align: right;
}

.title-lower-line {
    color: red;
    font-weight: bold;
    font-size: 50px;
    display: inline-block;
}

h1 {
    line-height: 0.9;
}

.custom-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
}

.st-b8 {
    width: 40%;
}

/* button.css-1x8cf1d.edgvbvh10 {
    background-color: #DFE2DB;
} */

input.st-cm.st-d4.st-d5.st-d6.st-d7.st-d8.st-d9.st-da.st-db.st-dc.st-bz.st-b8.st-dd.st-de.st-df.st-dg.st-dh.st-di.st-dj.st-dk.st-ae.st-af.st-ag.st-dl.st-ai.st-aj.st-cf.st-dm.st-dn.st-do {
    width: 100%;
}

css-m6zy2y.focused {
    width: 192px;
}

input.st-cm.st-d4.st-d5.st-d6.st-d7.st-d8.st-d9.st-da.st-db.st-dc.st-bz.st-b8.st-dd.st-de.st-df.st-dg.st-dh.st-di.st-dj.st-dk.st-ae.st-af.st-ag.st-dl.st-ai.st-aj.st-cf.st-dm.st-dn {
    width: 100%;
}